.app-layout {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.sidebar {
    width: 250px;
    background-color: #252526;
    border-right: 1px solid #333;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #1e1e1e;
}