.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--bg-primary);
}

.app-container>.app-layout {
    flex: 1;
    overflow: hidden;
}